08-server-world/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
08-server-world/node_modules/.bin/nanoid.ps1
08-server-world/node_modules/.bin/nanoid.cmd
08-server-world/node_modules/.bin/nanoid
08-server-world/node_modules/.bin/next.cmd
08-server-world/node_modules/@next/env/dist/index.js
08-server-world/app/layout.js
08-server-world/app/page.js
08-server-world/app/layout.js
