.boxes{
    background-color: white;
    padding: 50px;
    margin: 50px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.5s ease-in-out;
}

.time{
    background-color: aqua;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
}