body {
    background-color: blue;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container{
    width: 400px;
    padding: 20px;
    background-color: aliceblue;
}

.container h1 {
    text-align: center;
}

.form-input{
    margin-bottom: 11px;
}

.form-input label {
    display: block;
    margin-bottom: 5px;
}

.form-input input{
    width: 80%;
    padding: 10px;
    border: 1px solid beige;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.btn button {
    cursor: pointer;
    background-color: #007BFF;
    transition: background-color 0.4s ease;
}

.guest-card {
    border: 1px solid;
    padding: 10px;
}

